{% extends "base.html" %}

{% block title %}CDC PulseBot Chat{% endblock %}

{% block content %}
<header class="chat-header">
  <h1 class="page-header">CDC PulseBot Chat</h1>
  <p class="page-subheader">Identify emerging symptoms, public concerns, and early trends about the CDC in real time</p>

  <button id="clearChatButton" class="clear-chat-button" type="button" title="Clear chat">
      <i class="fa-solid fa-trash-can"></i>
      <span>Clear Chat</span>
  </button>
</header>

<div class="chat-viewport">
  <div class="chat-box" id="chatBox"></div>
</div>

<footer class="chat-footer">
  <form id="chatForm" class="chat-form" onsubmit="handleSubmit(event)">
  <div id="questionInput" class="questionInputContainer">
        <textarea id="chatInput" class="questionInputTextArea" 
                  placeholder="Ask a question..."
                  maxlength="1000"
                  rows="1"></textarea>
        <div id="autocompleteBox" class="autocomplete-box"></div>
        <div class="questionInputButtonsContainer">
          <button type="button" class="icon-button" id="clearInputButton" title="Clear question"><i class="fa-solid fa-trash-can"></i></button>
          <button type="submit" class = "icon-button" id="sendButton" title="Send question"><i class="fa-solid fa-paper-plane"></i></button>
        </div>
      </div>
  </form>
</footer>


<script>
const chatBox = document.getElementById("chatBox");
const chatViewport = document.querySelector(".chat-viewport");
const chatInput = document.getElementById("chatInput");
const autocompleteBox = document.getElementById("autocompleteBox");
const chatForm = document.getElementById("chatForm");
const clearInputBtn = document.getElementById("clearInputButton");
const clearChatBtn = document.getElementById("clearChatButton");
const questionInput = document.getElementById("questionInput")

let currentController = null;

async function handleSubmit(event) {
    event.preventDefault();
    const userMsg = chatInput.value.trim();
    if (!userMsg) return;
    chatInput.disabled = true;
    questionInput.classList.add("disabled")
    appendUserMessage(userMsg);
    chatInput.value = "";
    autocompleteBox.innerHTML = "";
    autocompleteBox.style.display = "none";

    if (currentController) currentController.abort();
    currentController = new AbortController();

    try {
        let {assistantDiv, textContainer} = appendAssistantMessage();

        const response = await fetch("/chat", {
            method: "POST",
            body: JSON.stringify({ messages: getMessages() }),
            signal: currentController.signal,
            headers: { "Content-Type": "application/json" }
        });
        if (!response.ok) {
            throw new Error("Network response was not ok: " + response.statusText);
        }

        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        let doneReading = false;
        let buffer = "", citationData = [], followupData = [], markdownBuffer = "";

        while (!doneReading) {
            const { value, done } = await reader.read();
            if (done) break;
            buffer += decoder.decode(value, { stream: true });

            const lines = buffer.split("\n")
            buffer = lines.pop()
            for (const line of lines) {
                if (!line.trim()) continue;
                const parsed = JSON.parse(line);
                const choice = parsed.choices?.[0];
                const delta = choice?.delta || {}
                if (delta.content) {

                    for (let i = 0; i < delta.content.length; i++) {
                        const char = delta.content[i]
                        markdownBuffer += char
                        textContainer.innerHTML = marked.parse(markdownBuffer)
                        await new Promise(resolve => setTimeout(resolve, 10))
                        scrollToBottomSmooth()
                    }
                }
                if (choice.context) {
                    citationData = choice.context.data_points || [];
                    followupData = choice.context.followup_questions || [];
                }

                if (choice.finish_reason === "stop") {
                    doneReading = true;
                    break
                }

            }

        }

        await reader.cancel()
        buffer = ""
        textContainer.innerHTML = marked.parse(markdownBuffer);
        chatInput.disabled = false;
        questionInput.classList.remove("disabled")

        if (citationData.length) appendCitations(assistantDiv, citationData);
        if (followupData.length) appendFollowups(assistantDiv, followupData);
        

        currentController = null;
        scrollToBottomSmooth()


    } catch (err) {
        if (err.name === "AbortError") return;
        appendAssistantMessage("Error: " + err.message);
    }
}


async function renderMarkdownWithTypingOld(element, markdownText, delay = 10) {
    const lines = markdownText.split('\n');
    let fullText = "";

    for (const line of lines) {
        for (let i = 0; i < line.length; i++) {
            fullText += line[i];
            element.innerHTML = marked.parse(fullText);
            scrollToBottomSmooth()
            await new Promise(r => setTimeout(r, delay));
        }
        fullText += "\n";
        element.innerHTML = marked.parse(fullText);
        scrollToBottomSmooth()
        await new Promise(r => setTimeout(r, delay));
    }
}

function scrollToBottomSmooth() {
  requestAnimationFrame(() => {
    chatViewport.scrollTo({
      top: chatViewport.scrollHeight,
      behavior: "smooth"
    });
  });
}

function getCurrentTimestamp() {
  const now = new Date();
  return now.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' });
}


function appendUserMessage(text) {
    const div = document.createElement("div");
    div.className = "message user";
    div.innerHTML = `
        <div class="message-content">${text}</div>
        <div class="timestamp">${getCurrentTimestamp()}</div>
    `;
    chatBox.appendChild(div);
    scrollToBottomSmooth();
    // chatBox.scrollTop = chatBox.scrollHeight;
}

function appendAssistantMessage() {
    const div = document.createElement("div");
    div.className = "message assistant";
    const messageContent = document.createElement("div");
    messageContent.className = "message-content";

    const textContainer = document.createElement("div")
    textContainer.className = "assistant-text"
    textContainer.innerHTML = `<div class="typing-indicator">
                                    <span>.</span><span>.</span><span>.</span>
                                </div>`

    // const timestamp = document.createElement("div")
    // timestamp.className = "timestamp"
    // timestamp.innerHTML = getCurrentTimestamp()

    messageContent.appendChild(textContainer)
    div.appendChild(messageContent)
    // div.appendChild(timestamp)
    chatBox.appendChild(div);
    scrollToBottomSmooth();

    return {assistantDiv: div, textContainer: textContainer};
}

function appendFollowups(parentDiv, followups) {
    if (!followups.length) return;
    const section = document.createElement("div");
    section.className = "followups";
    followups.forEach(q => {
        const btn = document.createElement("button");
        btn.className = "followup-btn";
        btn.textContent = q;
        btn.type = "button"
        btn.onclick = () => {
            chatInput.value = q;
            autocompleteBox.innerHTML = "";
            autocompleteBox.style.display = "none";
            chatForm.requestSubmit();
        };
        section.appendChild(btn);
    });
    parentDiv.appendChild(section);
}

function appendCitations(parentDiv, citations) {
    if (!citations.length) return;
    const section = document.createElement("div");
    section.className = "citations";
    const toggle = document.createElement("button");
    toggle.className = "toggle-citations";
    toggle.textContent = "View Sources";
    toggle.type = "button";
    const list = document.createElement("ul");
    list.className = "citation-list";
    list.style.display = "none";

    toggle.onclick = () => {
        const isOpen = list.style.display === "block";
        list.style.display = isOpen ? "none" : "block";
        section.classList.toggle("open", !isOpen);
        toggle.textContent = isOpen ? "View Sources" : "Hide Sources";
    };

    citations.forEach((c, i) => {
        const li = document.createElement("li");
        li.className = "citation-card";
        li.onclick = () => window.open(c.url, "_blank");
        const text = document.createElement("div")
        text.className = "citation-text"
        const label = document.createElement("span");
        label.className = "source-label";
        label.textContent = `Source ${i + 1}: `;

        const snippet = document.createElement("span");
        snippet.textContent = `${c.snippet.slice(0, 100)}...`;


        text.appendChild(label)
        text.appendChild(snippet);
        li.appendChild(text);

        if (c.date) {
            const dateElem = document.createElement("div")
            const d = new Date(c.date)
            const formatted = `${(d.getMonth() + 1).toString().padStart(2, '0')}/${d.getDate().toString().padStart(2, '0')}/${d.getFullYear()}`

            dateElem.innerText = formatted
            dateElem.className = "citation-date"
            li.appendChild(dateElem) 
        }
        list.appendChild(li);
    });

    section.appendChild(toggle);
    section.appendChild(list);
    parentDiv.appendChild(section);
}

function getMessages() {
    const messages = [];
    chatBox.querySelectorAll(".message").forEach(div => {
        const isUser = div.classList.contains("user");
        messages.push({
            role: isUser ? "user" : "assistant",
            content: div.querySelector(".message-content").innerText
        });
    });
    messages.pop();
    return messages;
}

clearInputBtn.addEventListener("click", () => {
    chatInput.value = ""
})

chatInput.addEventListener("keydown", function(e) {
    if (e.key === 'Enter' && !e.shiftKey) {
        e.preventDefault(); // Prevent newline insertion
        // You can call the same submit handler
        chatForm.requestSubmit()
      }

})

clearChatBtn.addEventListener("click", () => {
    if (currentController) currentController.abort();
    chatBox.innerHTML = "";
    chatInput.value = "";
    autocompleteBox.innerHTML = "";
    autocompleteBox.style.display = "none";
});

/*
chatInput.addEventListener("input", async () => {
    const query = chatInput.value.trim();
    if (!query) {
        autocompleteBox.innerHTML = "";
        autocompleteBox.style.display = "none";
        return;
    }

    try {
        const res = await fetch(`/suggest?q=${encodeURIComponent(query)}`);
        const suggestions = await res.json();
        autocompleteBox.innerHTML = "";
        if (!suggestions.length) {
            autocompleteBox.style.display = "none";
            return;
        }
        suggestions.forEach(s => {
            const div = document.createElement("div");
            div.className = "suggestion-item";
            div.textContent = s;
            div.onclick = () => {
                chatInput.value = s;
                autocompleteBox.innerHTML = "";
                autocompleteBox.style.display = "none";
                chatForm.requestSubmit();
            };
            autocompleteBox.appendChild(div);
        });
        autocompleteBox.style.display = "block";
    } catch (err) {
        autocompleteBox.innerHTML = "";
        autocompleteBox.style.display = "none";
    }
});
*/
</script>
{% endblock %}